<h2>Log in <span class="text-muted">(please use credentials below)</span></h2>
<br>
<div class="row">
  <div class="col-md-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-group">
        <%= f.label :email %><br />    
        <%= f.email_field :email, autofocus: true, class: "form-control" %>  
      </div>  

      <div class="form-group">   
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>  
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>
<br>

<h2 class="justify-content-center">Credentials for viewing this application</h2>
<div class="row">
  <div class="col-md-4">
    <h4>To view Employee page:</h4>
    <p>Email: <b>regular@user.com</b></p>
    <p>Password: <b>password</b></p>
  </div>
  <div class="col-md-4">
    <h4>To view Admin page and Dashboard:</h4>
    <p>Email: <b>admin@user.com</b></p>
    <p>Password: <b>password</b></p>
  </div><br>
</div>